	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
        background: url(jj2.jpg);
        background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	box-sizing: border-box;
	min-height: 100vh;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}
	table#t01 {
  width: 100%;
  background-color: #f1f1c1;
}

table#t01 th {
  color: white;
  background-color: black;
}

	body, input, select, textarea {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
	}
		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}
		}

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: #1c1c1c;
		color: #d5d5d5;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .85em;
		}

			#header a:hover {
				color: rgba(255, 255, 255, 0.75);
			}

			#header a:last-child {
				padding-right: 0em;
			}